@media (min-width: 350px) and (max-width: 570px){
    .anchor a{
        font-size: 9px;
        padding: 0 2px;
    }
    .nav h1{
        font-size: 16px;
      padding-bottom: 3px;
    }
 .main{
    height: 400px;
    width: 500px;
 }
 .main h1{
    font-size: 12px;
     paddding-left: 8px;
 }
 .main p{
    font-size: 12px;
    paddding-left: 8px;
     text-align: center;
 }
 .section{
   display: flex;
flex-direction: column;
justify-items: center;
}
 .section img{
       max-width: 100%;
        height: auto;
        display: block;
    }
}
